.sidebar {
  overflow-y: auto;
}

.sidebar-about h1 {
  font-size: 2.5rem;
}

@media (min-width: 48rem) {
  .sidebar-sticky {
    top: 1rem;
  }
}

.contact {
  margin-top: 2em;
}

.people p img {
  float: left;
  margin: 0.5em 1em 0.5em 0;
  height: 5em;
  border: 1px solid #eee;
}

img.ucla-logo {
  float: right;
  margin: 0 0 0.5em 1em;
  height: 6em;
}
