<p><em>A framework for end-to-end evaluation of register allocators.</em></p>

<p>RALF is a framework for end-to-end evaluation of register allocators.
Built on top of gcc, RALF enables evaluation and comparison of register
allocators in the setting of an industrial-strength compiler. RALF
supports modular plug-and-play of register allocators without modifying
the compiler implementation at all. RALF provides any plugged-in
register allocator with an intermediate program representation that is
independent of the data structures of the framework. In return, the
register allocator provides RALF with a set of register allocation
directives.</p>

<!--end-abstract-->
